@use 'src/styles/variables' as *;

.pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  margin: 3rem auto 0;
  max-width: 320px;
  width: 100%;

  a {
    @include text-link-hover;
  }
}

.link {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.is-right {
  svg {
    transform: rotate(180deg);
  }
}
