@use 'src/styles/variables' as *;

.nav {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;

  [disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.link {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  @include text-link-hover;
}

.is-right {
  svg {
    transform: rotate(180deg);
  }
}
