@use 'src/styles/variables' as *;

.card {
  background: $primaryColor;
  border-radius: $borderRadius;
  margin: 0 auto;
  padding: 1.25rem 1rem;
  width: $cardWidth;

  h2,
  p {
    color: $navy;
  }
}

.profile {
  border: 3px solid $navy;
  border-radius: 50%;
}

.text {
  padding: 1.25rem 0 0;
}
