@use 'src/styles/variables' as *;

.card {
  background: $primaryColor;
  border-radius: $borderRadius;
  padding: 1.25rem 1rem;
  width: $cardWidth;

  h2,
  p {
    color: $navy;
  }
}

.profile {
  background: $navy;
  border: 3px solid $navy;
  border-radius: 50%;
  height: 200px;
  overflow: hidden;
  width: 200px;

  img {
    transform: translateY(-3px);
  }
}

.text {
  padding: 1.25rem 0 0;
}
