@use 'src/styles/variables' as *;

.aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 450px;
  text-align: center;

  @media (min-width: $desktop) {
    text-align: left;
    width: $cardWidth;
  }
}
