@use 'src/styles/variables' as *;

.article {
  display: grid;
  gap: 2.75rem;
  margin: 4rem auto;
  max-width: 680px;
  width: 100%;
}

.featured-image {
  background: $white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;

  img {
    box-shadow: 0 20px 45px -10px rgb(0 0 0 / 20%);
  }
}

.article-body {
  h2 {
    padding: 2rem 0 0.25rem;
  }

  p {
    padding: 1rem 0;
  }

  a {
    @include text-link-hover;
    text-decoration: underline;
  }
}

.footer-nav {
  a {
    @include text-link-hover;
  }
}

blockquote {
  p {
    font-style: italic;
    color: $primaryColor;
  }
}
