@import 'src/styles/variables';

html,
body {
  background: $white;
  font-family: 'Helvetica Neue', Arial, 'Oxygen-Sans',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

a {
  border-bottom: transparent;
  color: $black;
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom: $primaryColor;
    color: $primaryColor;
  }
}
