@use 'src/styles/variables' as *;

html,
body {
  background: $navy;
  font-family: 'Helvetica Neue', Arial, 'Oxygen-Sans',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: $baseFontSize;
  line-height: $largeLineHeight;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span,
time,
div {
  color: $white;
}

a {
  text-decoration: none;

  &.button-like {
    @include button-style;
    @include flexbox-default;
  }
}

button {
  @include button-style;
}

img {
  display: block;
}

.content-margin {
  margin: 3rem auto 4rem;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
