@import 'src/styles/variables';

html,
body {
  background: $black;
  font-family: 'Helvetica Neue', Arial, 'Oxygen-Sans',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-size: $baseFontSize;
  line-height: $lineHeight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
time {
  color: $white;
}

a {
  border-bottom: transparent;
  text-decoration: none;
  &:hover,
  &:focus {
    // border-bottom: $primaryColor;
    border-bottom: $borderWidth solid $yellow;
    color: $yellow;
  }
}
