@use 'src/styles/variables' as *;

.homepage {
  @include content-wrapper;
  margin: 2.5rem auto 5rem;
}

.intro {
  margin-bottom: 2rem;
}

.main {
  display: grid;
  gap: 2rem;
  padding: 3rem 0 4rem;
  width: 100%;

  @media (min-width: $tablet) {
    grid-template-columns: auto 1fr;
  }
}
