@use 'src/styles/variables' as *;

.homepage-container {
  h2[class='title'] {
    font-size: 2rem;
  }
}

.homepage {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
  padding: 3rem 0 4rem;
  width: 100%;
}

.hero-container {
  position: relative;

  img {
    filter: brightness(0.4);
  }

  div[class='text-container'] {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -40%);
    z-index: 300;

    a {
      width: 150px;
      margin: 1.25rem auto 0;
    }
  }

  div[class='text'] {
    padding: 0.25rem 2rem;
    text-align: center;

    h1,
    h2 {
      color: $primaryColor;
    }

    h1 {
      font-size: 3.5rem;
      line-height: 1.25;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
}
