// font
$baseFontSize: 18px;
$super: 6rem;
$larger: 2rem;
$large: 1.25rem;
$small: 16px;
$lineHeight: 2;
$h1LineHeight: 1.2;
$contentPadding: 0 1.25rem;

// color
// $primaryColor: #bdddff;
$primaryColor: #ffca28;
$secondaryColor: #59acf6;
$navy: #021f37;
$white: #d6deeb;
$yellow: #ffca28;

// breakpoint
$mobile: 768px;
$tablet: 1024px;

// others
$borderWidth: 2px;
$borderRadius: 4px;
$shadowSize: 12px;
$articleMaxWidth: 680px;
$pageMaxWidth: 1380px;
$headerHeight: 70px;
$cardWidth: 240px;
$hoverOpacity: 0.6;

@mixin flexbox-default {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin text-link-hover {
  &:focus,
  &:hover {
    color: $yellow;
  }
}

@mixin content-wrapper {
  max-width: $pageMaxWidth;
  width: 100%;
}
