// font
$baseFontSize: 18px;
$large: 1.5rem;
$lineHeight: 1.8;

// color
$primaryColor: #bdddff;
$navy: #021f37;
$whiteText: #d6deeb;
$yellow: #ffca28;

// breakpoint
$largerThanTablet: 601px;

// others
$borderWidth: 2px;
$borderRadius: 6px;
$shadowSize: 12px;
$postMaxWidth: 740px;
$pageMaxWidth: 1380px;
