@use 'src/styles/variables' as *;

.list-item {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 120px auto 140px;
}

.post-title {
  font-size: $large;
  font-weight: bold;
  white-space: normal;

  &:hover,
  &:focus {
    color: $yellow;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-info {
  overflow: hidden;
}

.middle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.latest-posts {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  list-style: none;
}
