@use 'src/styles/variables' as *;
@mixin img-style {
  max-width: $articleMaxWidth;
  width: 100%;
}

.main {
  display: grid;
  gap: 2.75rem;
  margin: 4rem auto;
  max-width: 680px;
  width: 100%;
}

.heroImage {
  @include img-style;
}

.header {
  display: grid;
  gap: 1.25rem;
  grid-template-rows: auto;

  h1 {
    font-size: $largest;
    line-height: $h1LineHeight;
  }
}

.featured-image {
  background: $secondaryColor;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;

  img {
    box-shadow: 0 20px 45px -10px rgb(0 0 0 / 20%);
  }
}

.article {
  img {
    @include img-style;
  }

  h2 {
    padding: 2rem 0 0.25rem;
  }

  p {
    padding: 1rem 0;
  }

  a {
    @include text-link-hover;
    text-decoration: underline;
  }
}

.keywords {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-top: 0.5rem;

  li {
    @include flexbox-default;
    background: $primaryColor;
    background: $yellow;
    border-radius: $borderRadius;
    color: $navy;
    font-size: $small;
    margin: 0 0.75rem 0.75rem 0;
    padding: 0 0.75rem;
  }
}

.footer-nav {
  a {
    @include text-link-hover;
  }
}

blockquote {
  p {
    font-style: italic;
    color: $primaryColor;
  }
}
