@use 'src/styles/variables' as *;

.back-to {
  align-items: center;
  color: $white;
  display: inline-flex;
  gap: 0.5rem;
  margin-top: 1rem;

  svg {
    width: 2rem;
  }

  @include text-link-hover;
}
