@use 'src/styles/variables' as *;

.latest-posts {
  display: grid;
  gap: 3rem;
  list-style: none;
}

.list-item {
  display: grid;
  gap: 1.25rem;
  grid-template-areas:
    'thumb text'
    'cta cta';

  @media (min-width: $mobile) {
    grid-template-columns: 120px auto 140px;
    grid-template-areas: 'thumb text cta';
  }
}

.thumb {
  grid-area: thumb;
  width: 60px;

  img,
  picture {
    width: 60px;

    &:hover {
      opacity: $hoverOpacity;
    }
  }

  @media (min-width: $mobile) {
    width: 120px;

    img,
    picture {
      width: 120px;
    }
  }
}

.post-title {
  font-size: $large;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: $defaultLineHeight;
  white-space: normal;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-info {
  display: grid;
  gap: 0.25rem;
  grid-area: text;
  overflow: hidden;
}

.middle {
  display: flex;
  flex-flow: column nowrap;
  grid-area: cta;
  justify-content: center;
}
