@use 'src/styles/variables' as *;

.form {
  @include form-base-style;
  max-width: $formWidth;
  margin: 4rem auto;

  button {
    @include form-button-style;
  }
}

.notification {
  @include notification-style;
}

.field {
  display: flex;
  flex-flow: column nowrap;

  label {
    color: $navy;
  }

  input,
  textarea {
    color: $navy;
    border: none;
    border-radius: $borderRadius;
    font-size: 1rem;
    line-height: $defaultLineHeight;
    max-width: calc($formWidth - 45px);
    padding: 0.5rem;
  }

  input {
    height: 2rem;
  }
}
