@use 'src/styles/variables' as *;

.header {
  @include flexbox-default;
  background: $primaryColor;
  box-shadow: $boxShadow;
  color: $navy;
  justify-content: center;
  padding: $contentPadding;
  position: relative;
  z-index: 100;

  svg {
    width: 160px;
  }

  a {
    @include flexbox-default;

    &:focus,
    &:hover {
      svg {
        animation: shake 0.25s;
      }
    }
  }

  nav {
    background: $primaryColor;
    box-shadow: inset $boxShadow, $boxShadow;
    display: grid;
    height: 240px;
    left: 0;
    position: absolute;
    top: $headerHeight;
    transform: translateX(100%);
    width: 100%;
    z-index: 1;
    transition: 0.3s transform 0s cubic-bezier(0.75, -0.5, 0, 1.75);

    &[class='expanded'] {
      transform: translateX(0);
    }

    @media (min-width: $mobile) {
      box-shadow: none;
      grid-template-columns: repeat(4, auto);
      height: 100%;
      position: initial;
      transform: none;
      width: auto;
    }

    a {
      border-bottom: 1px solid $navy;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      color: $navy;
      font-weight: bold;
      padding: 0 1rem;

      &[class='is-active'],
      &:focus {
        opacity: 0.5;
      }

      &:first-child {
        border-top: 1px solid $navy;
      }

      &:last-child {
        border-bottom: none;
      }

      @media (min-width: $mobile) {
        border: none;
        position: relative;

        &:first-child {
          border: none;
        }

        &[class='is-active'],
        &:focus {
          opacity: 1;

          &:after {
            background: $navy;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 100%;
          }
        }
      }
    }
  }
}

.container {
  @include content-wrapper;
  @include flexbox-default;
  justify-content: space-between;
  height: 100%;
}

.menu-button {
  height: 60px;
  padding: 0;

  @media (min-width: $mobile) {
    display: none;
  }
}

.backdrop {
  @include backdrop-style;
  z-index: 30;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  [class='hamburger-box'] {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  [class='hamburger-inner'],
  [class='hamburger-inner']:after,
  [class='hamburger-inner']:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background: $navy;
  }

  [class='hamburger-inner'] {
    top: 50%;
    display: block;
    margin-top: -2px;

    &:before,
    &:after {
      display: block;
      content: '';
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  &[class^='is-expanded'] {
    [class='hamburger-inner']:before {
      top: 0;
      transition: top 0.1s ease,
        transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
      transform: translate3d(8px, -10px, 0) rotate(45deg) scaleX(0.7);
    }
    [class='hamburger-inner']:after {
      bottom: 0;
      transition: bottom 0.1s ease,
        transform 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.1s;
      transform: translate3d(8px, 10px, 0) rotate(-45deg) scaleX(0.7);
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-4px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-4px, 0) rotate(0deg);
  }
  70% {
    transform: translate(3px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -3px) rotate(-1deg);
  }
}
