@use 'src/styles/variables' as *;

.footer {
  background: $primaryColor;
  height: 225px;
  @include flexbox-default;

  div[class='wrapper'] {
    text-align: center;
  }

  svg {
    width: 280px;
  }

  p {
    color: $navy;
  }
}
